.search-container
	form.form-inline
		.form-group
			input(
				type='text'
				name='search-input'
				id='search-input'
				class='form-control awesomplete'
				onkeyup='checkInput();autoComplete();'
			)
			button(
				type='submit'
				name='search-btn'
				id='search-btn'
				class='btn btn-primary'
				disabled='disabled' 
			) Buscar
			button(
				type='submit'
				name='search-btn'
				id='search-btn'
				class='btn btn-success'
			) Guardar Busqueda